* {
  border: none;
  border-radius: 0;
  font-family: MesloLGL Nerd Font;
  font-size: 12px;
  font-weight: 600;
  min-height: 0;
}

window#waybar {
  background-color: #282c34;
  opacity: 0.90;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 4px;
  background-color: #282c34;
  color: #d8dee9;
}

#workspaces button:hover {
  background: #282c34;
}

#workspaces button.focused {
  background-color: #61afef;
  color: #282c34;
}

#workspaces button.urgent {
  background-color: #e06c75;
}

#mpd {
  padding: 0 8px;
  background-color: #98c379;
  color: #282c34;
}

#network {
  padding: 0 4px;
  background-color: #61afef;
  color: #282c34;
}

#battery {
  padding: 0 4px;
  background-color: #56b6c2;
  color: #282c34;
}

#backlight {
  padding: 0 4px;
  background-color: #61afef;
  color: #282c34;
}

#pulseaudio {
  padding: 0 4px;
  background-color: #c678dd;
  color: #282c34;
}

#pulseaudio.muted {
  padding: 0 4px;
  background-color: #81a1c1;
  color: #2a5c45;
}

#clock {
  padding: 0 4px;
  background-color: #e06c75;
  color: #282c34;
}

#tray {
  padding: 0 4px;
  background-color: #282828;
}
